<div class="home">
    <div class="container">
      <div class="center-align row">
        <div class="col m10 s12 offset-s0 offset-m1">
          <h4 class="title blue-text text-lighten-2">SMART ESSENTIAL DATA COLLECTION</h4>
        </div>
        <div class="col m10 s12 offset-s0 offset-m1">
          <h5 class="subtitle white-text">
              With OneBitForms customizable Forms, it's easy to collect valuable information from your customers quickly and free        
          </h5>
          <a routerLink="/forms" class="btn blue lighten-1 btn-forms">
              Create your form now            
          </a>
        </div>
      </div>
    </div>
  </div>